<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
<h3> Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
  First name: <input type="text" th:field="*{firstName}"/>
<!-- *{...} is a shortcut for ${student.firstName} -->
  <br><br>
  Last name: <input type="text" th:field="*{lastName}"/>
  <br><br>
    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>

        <!-- isme th:each="tempCountry : ${countries}" jo ye curly braces ke andar countries likha hai ye list ka naam nhi hai student.java vali ka
        balki application.properties vali list ka naam hai-->

    </select>
    <br><br>
    Favourite Programming Language:
    <input type="radio" th:field="*{favouriteLanguage}"
           th:each="tempLang:${languages}"
           th:value="${tempLang}"
           th:text="${tempLang}"/>
    <br><br>

    Favourite Operating Systems:
    <input type="checkbox" th:field="*{favouriteSystems}"
           th:each="tempSystem: ${systems}"
           th:value="${tempSystem}"
           th:text="${tempSystem}"/>
  <br><br>
    <input type="submit" value="SUBMIT"/>



</form>
</body>
</html>