<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student confirmation</title>
</head>
<body>
<h3>Student Registration Form</h3>
The Student is confirmed : <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>
<br><br>

Country:<span th:text="${student.Country}"></span>
<br><br>
FavouriteLanguage:<span th:text="${student.FavouriteLanguage}"></span>
<br><br>
Favourite Operating System:<ul>
    <li  th:each="tempSystem: ${student.favouriteSystems}" th:text="${tempSystem}"></li>
</ul>
</body>
</html>